* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;

  margin: 0;
}


/*HEADER SECTION*/

header {
  background-color: #000;
  color: #fff;
}

.wrapper {
  max-width: 940px;
}

header .wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
display: flex;
list-style: none;
gap: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}


/* HERO SECTION */

#hero {
  height: 600px;
  background-image: url("../images/hands-typing.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(70%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
  max-width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: #fff;
  color: #fff;
}


/* ABOUT ME SECTION */



/*SERVICE SECTION*/

#services #article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  background-color: #fff;
  margin: auto;
  
}

#services {
 background-color: #fafafa;
 padding: 50px 20px;
}

#services article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}
#services a:link,
#services a:visited {
  display: inline-block;
  padding: .8em 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;

}

#services #article a:hover,
#services #article a:focus {
  background-color: #fff;
  color: #000;
}


/* MY WORK SECTION */

 
#work .wrapper {
  max-width: 940px;
}

#work h2, #work p {
  text-align: center;
}

#work p {
  text-align: center;
}


#work div:last-child img:nth-child(1) {
  grid-area: img1;
}
#work div:last-child img:nth-child(2) {
  grid-area: img2;
}
#work div:last-child img:nth-child(3) {
  grid-area: img3;
}
#work div:last-child img:nth-child(4) {
  grid-area: img4;
}
#work div:last-child img:nth-child(5) {
  grid-area: img5;
  width: 100%;
  object-fit: cover;
}

/* FOOTER */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}