* {
  box-sizing: border-box;
}

/*HEADER SECTION*/

header {
  background-color: #000;
  color: #fff;
}

.wrapper {
  max-width: 940px;
}

header .wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 auto;
}

header nav ul {
display: flex;
list-style: none;
gap: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}


/* HERO SECTION */

#hero {
  height: 600px;
  background-image: url("../images/hands-typing.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(70%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
  max-width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: #fff;
  color: #fff;
}


/* ABOUT ME SECTION */

#about-me .wrapper {
  max-width: 940px;

}