/*HEADER*/
header {
  background-color: #000;
  color: #fff;
}

.wrapper .header {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

/*HERO SECTION*/
#hero {
  height: 600px;
  background: url("../images/hands-typing.jpg") center/cover no repeat;
  filter: grayscale(70%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#her0 h1 {
max-width: 60%;
background: rgba(0, 0, 0, 0.5);
color: #fff;
padding: 20px;
font-size: 2.5rem;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
border-radius: 5px;
}
